<!-- <p>header works!</p>
<h1>{{mane}}</h1>

<ng-content>


</ng-content> -->
<!-- <button (click)="updateEvent()">click me</button>

<input type="text" (input)="updateMessage($event)">
<div>childinput:{{message}}</div> --> 

<!-- <button (click)="updateMessage()">click me</button> 

<input type="text" (input)="updatedmassge($event)">  -->
<!-- 
<button (click)="updateemail()">Click me</button> 
<input type="text" (input)="updateten1($event)">
 <h2>child component:{{message}}</h2> 
  <input type="text" [(ngModel)]="data">  -->
  <h1>header works</h1>
<div *ngFor="let m of mobiletwo">{{m}}</div> 
<button (click)="updatetwo()">click me1</button>

